.searchInputContainer, .txtField {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(192, 195, 197);
  background-color: rgb(79, 80, 81);
  border-radius: 25px;
  height: 40px;
  text-align: center;
  line-height: 60px;

}
.txtLine{
  color:rgb(192, 195, 197)
}
