body {
 margin: 0;
  overflow-x: hidden;
  direction: ltr;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
    transition: all .9s;
  font-family: "AMitra";
  background: #c9ffbf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #AA6E6D,
    #c9ffbf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #AA6E6D,
    #c9ffbf
  )
}
@font-face {
  font-family: "AMitra";
  src: local("font"), url("assets/fonts/amitra/AMitra_2Bold.ttf") format("truetype");
  font-weight: bold;
}
code {
  font-family: "AMitra";
  
}


::-webkit-scrollbar {
  width: 13px;
  background-color: #9fe293;
}

::-webkit-scrollbar-thumb {
  background-color: #AA6E6D;
  border-radius: 50px;
  width: 9px;
}
*{
    font-family: "AMitra";
     box-sizing: border-box;
}


 html{
  font-size: 62.5%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

svg{
  font-size: 2.5rem !important;
}
span {
  font-size: 1.5rem !important;
}

label{
  font-size: 1.2rem !important;
}

p>span{
  font-family: IRANSansX-Regular!important;
  background-color: white!important;
}

input{
  font-size: 1.2rem!important;
}

#textEditorSection>div{
  width: auto!important;
  height: 8rem!important;
}

.MuiTableCell-root , .MuiTableCell-body , .MuiTableCell-alignRight{
  font-size: 1.5rem!important;
  font-family: IRANSansX-Regular !important;
}

.MuiTypography-h4 , .MuiTypography-h5{
  font-size: 2rem!important;
  font-family: IRANSansX-Bold !important;
}

.MuiToolbar-root , .MuiToolbar-regular , .makeStyles-toolbar-20 , .MuiToolbar-gutters{
  direction: rtl;
}

.rdw-editor-main {
  height: 100%!important;
  overflow: auto!important;
  box-sizing: border-box!important;
}
.rdw-editor-toolbar {
  padding: 6px 5px 0!important;
  border-radius: 2px!important;
  border: 1px solid #F1F1F1!important;
  display: flex!important;
  justify-content: flex-start!important;
  background: white!important;
  flex-wrap: wrap!important;
  font-size: 15px!important;
  margin-bottom: 5px!important;
  user-select: none!important;
}
.public-DraftStyleDefault-block {
  margin: 1em 0!important;
}
.rdw-editor-wrapper:focus {
  outline: none!important;
}
.rdw-editor-wrapper {
  box-sizing: content-box!important;
}
.rdw-editor-main blockquote {
  border-left: 5px solid #f1f1f1!important;
  padding-left: 5px!important;
}
.rdw-editor-main pre {
  background: #f1f1f1!important;
  border-radius: 3px!important;
  padding: 1px 10px!important;
}

.rdw-dropdown-wrapper {
  height: 30px!important;
  background: white!important;
  cursor: pointer!important;
  border: 1px solid #F1F1F1!important;
  border-radius: 2px!important;
  margin: 0 3px!important;
  text-transform: capitalize!important;
}
.rdw-dropdown-wrapper:focus {
  outline: none!important;
}
.rdw-dropdown-wrapper:hover {
  box-shadow: 1px 1px 0px #BFBDBD!important;
  background-color: #FFFFFF!important;
}
.rdw-dropdown-wrapper:active {
  box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-dropdown-carettoopen {
  height: 0px!important;
  width: 0px!important;
  position: absolute!important;
  top: 35%!important;
  right: 10%!important;
  border-top: 6px solid black!important;
  border-left: 5px solid transparent!important;
  border-right: 5px solid transparent!important;
}
.rdw-dropdown-carettoclose {
  height: 0px!important;
  width: 0px!important;
  position: absolute!important;
  top: 35%!important;
  right: 10%!important;
  border-bottom: 6px solid black!important;
  border-left: 5px solid transparent!important;
  border-right: 5px solid transparent!important;
}
.rdw-dropdown-selectedtext {
  display: flex!important;
  position: relative!important;
  height: 100%!important;
  align-items: center!important;
  padding: 0 5px!important;
}
.rdw-dropdown-optionwrapper {
  z-index: 100!important;
  position: relative!important;
  border: 1px solid #F1F1F1!important;
  width: 98%!important;
  background: white!important;
  border-radius: 2px!important;
  margin: 0!important;
  padding: 0!important;
  max-height: 250px!important;
  overflow-y: scroll!important;
}
.rdw-dropdown-optionwrapper:hover {
  box-shadow: 1px 1px 0px #BFBDBD!important;
  background-color: #FFFFFF!important;
}

.rdw-option-wrapper {
  border: 1px solid #F1F1F1!important;
  padding: 5px!important;
  min-width: 25px!important;
  height: 20px!important;
  border-radius: 2px!important;
  margin: 0 4px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  cursor: pointer!important;
  background: white!important;
  text-transform: capitalize!important;
}
.rdw-option-wrapper:hover {
  box-shadow: 1px 1px 0px #BFBDBD!important;
}
.rdw-option-wrapper:active {
  box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-option-active {
  box-shadow: 1px 1px 0px #BFBDBD inset!important;
}
.rdw-option-disabled {
  opacity: 0.3!important;
  cursor: default!important;
}

.rdw-list-wrapper , .rdw-text-align-wrapper , .rdw-link-wrapper , .rdw-history-wrapper{
  display: flex !important;
}

.rdw-editor-toolbar , .TextEditor_toolbar__KjTgU{
  width: auto !important;
}

.TextEditor_editor__oZIwD, .rdw-editor-main{
  width: auto !important;
  padding: 0.2rem 1rem !important;
}

.MuiTypography-root{
  font-size: 1.5rem !important;
} 